[Desktop Entry]
Encoding=UTF-8
Name=Enllaç a Resultat d'imatges de pcb pakistan cricket board
Type=Link
URL=https://www.google.es/imgres?imgurl=https://paperpk.com/uploads/co_img/1484649496.jpg&imgrefurl=https://paperpk.com/710343/pakistan-cricket-board-lahore-jobs&h=343&w=345&tbnid=LyigxOWkzpul0M:&tbnh=150&tbnw=151&usg=__AO8nYyEy4EMQtD-DyAeQJkKplVU%3D&vet=1&docid=F3xZykzqIPwjoM&itg=1&client=ubuntu&sa=X&ved=0ahUKEwjunN3g5-jXAhWDVBQKHT94AzcQ_B0IiQEwDQ
Icon=text-html
